In [ ]:
# import requests 
# from bs4 import BeautifulSoup
# a = requests.get("https://books.toscrape.com/")


# with open("htmls/page1.html" , "r") as f:
#     contant = f.read()

# soup = BeautifulSoup(contant, "html.parser")

In [ ]:
# articles = soup.select("article.product_pod")
# articles # you get all articles which contains price , books name , rating

In [29]:
import requests
from bs4 import BeautifulSoup
import csv

base_url = "https://books.toscrape.com/catalogue/page-{}.html"
page = 1

data = []

while True:

    url = base_url.format(page)
    res = requests.get(url)

    if res.status_code != 200:
        break

        soup = BeautifulSoup(res.text, "html.parser")

        articles = soup.select("article.product_pod")

        if not articles:
            break

    for art in articles:

             title = art.h3.a["title"]
             price = art.select_one("p.price_color").text.split("£")[1]
             rating_tag = art.select_one("p.star-rating")
             rating = star_map.get(rating_tag["class"][1], 0)
             status = art.find("p" , class_="instock availability").text
             star_map = {
                     "One": 1,
                     "Two": 2,
                     "Three": 3,
                     "Five": 5
              }

            

             data.append([title,price, rating, status])

    print(f"Scraped Page {page}")

    page += 1


    


# # Save to CSV
with open("info.csv", "w", newline="", encoding="utf-8") as f:

    writer = csv.writer(f)
    writer.writerow(["Book Name", "Price", "Rating", "status"])
    writer.writerows(data)

print("File saved as info.csv")
print("Total Books:", len(data))

Scraped Page 1
Scraped Page 2
Scraped Page 3
Scraped Page 4
Scraped Page 5
Scraped Page 6
Scraped Page 7
Scraped Page 8
Scraped Page 9
Scraped Page 10
Scraped Page 11
Scraped Page 12
Scraped Page 13
Scraped Page 14
Scraped Page 15
Scraped Page 16
Scraped Page 17
Scraped Page 18
Scraped Page 19
Scraped Page 20
Scraped Page 21
Scraped Page 22
Scraped Page 23
Scraped Page 24
Scraped Page 25
Scraped Page 26
Scraped Page 27
Scraped Page 28
Scraped Page 29
Scraped Page 30
Scraped Page 31
Scraped Page 32
Scraped Page 33
Scraped Page 34
Scraped Page 35
Scraped Page 36
Scraped Page 37
Scraped Page 38
Scraped Page 39
Scraped Page 40
Scraped Page 41
Scraped Page 42
Scraped Page 43
Scraped Page 44
Scraped Page 45
Scraped Page 46
Scraped Page 47
Scraped Page 48
Scraped Page 49
Scraped Page 50
File saved as info.csv
Total Books: 1000

In [28]:
import pandas as pd

df = pd.read_csv("info.csv")

df

,Book Name,Price,Rating
A Light in the Attic,51.77,3,\n\n \n In stock\n \n
Tipping the Velvet,53.74,1,\n\n \n In stock\n \n
Soumission,50.10,1,\n\n \n In stock\n \n
Sharp Objects,47.82,0,\n\n \n In stock\n \n
Sapiens: A Brief History of Humankind,54.23,5,\n\n \n In stock\n \n
...,...,...,...
"Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991",57.25,3,\n\n \n In stock\n \n
Olio,23.88,1,\n\n \n In stock\n \n
Mesaerion: The Best Science Fiction Stories 1800-1849,37.59,1,\n\n \n In stock\n \n
Libertarianism for Beginners,51.33,2,\n\n \n In stock\n \n
It's Only the Himalayas,45.17,2,\n\n \n In stock\n \n