In [1]:
import requests
from bs4 import BeautifulSoup
import csv
import sys
import time

base_url = "https://books.toscrape.com/catalogue/page-{}.html"

TOTAL_PAGES = 50   # books.toscrape.com has 50 pages

page = 1
data = []


def show_progress(current, total, bar_length=20):

    percent = int((current / total) * 100)

    filled = int(bar_length * current / total)

    bar = "‚ñà" * filled + "‚ñë" * (bar_length - filled)

    sys.stdout.write(f"\r[{bar}] {percent}%")
    sys.stdout.flush()


print("Scraping started...\n", end="")

while page <= TOTAL_PAGES:

    url = base_url.format(page)
    res = requests.get(url)

    if res.status_code != 200:
        break

    soup = BeautifulSoup(res.text, "html.parser")

    articles = soup.select("article.product_pod")

    if not articles:
        break


    for art in articles:

        title = art.h3.a["title"]

        price = art.select_one("p.price_color").text.split("¬£")[1]

        rating_tag = art.select_one("p.star-rating")

        tag = art.select_one("i", class_="icon-ok")

        availability = tag.get_text(strip=True) if tag else "Out of Stock"

        star_map = {
            "One": 1,
            "Two": 2,
            "Three": 3,
            "Four": 4,
            "Five": 5
        }

        rating = star_map.get(rating_tag["class"][1], 0)

        data.append([title, price, rating, availability])


    show_progress(page, TOTAL_PAGES)

    page += 1

    time.sleep(0.05)   # smooth animation (optional)
 # print(tag)
# Clear progress bar line
sys.stdout.write("\r" + " " * 50 + "\r")

print("\n\nDone ‚úÖ")
print("Total Books:", len(data))


# # Save to CSV
with open("info.csv", "w", newline="", encoding="utf-8") as f:

    writer = csv.writer(f)
    writer.writerow(["Book Name", "Price", "Rating", "Status"])
    writer.writerows(data)

print("File saved as info.csv üìÅ")

Scraping started...


Done ‚úÖ
Total Books: 1000
File saved as info.csv üìÅ

In [3]:
import pandas as pd

df = pd.read_csv("info.csv")

In [4]:
df.head()

                               Book Name  Price  Rating  Status
0                   A Light in the Attic  51.77       3     NaN
1                     Tipping the Velvet  53.74       1     NaN
2                             Soumission  50.10       1     NaN
3                          Sharp Objects  47.82       4     NaN
4  Sapiens: A Brief History of Humankind  54.23       5     NaN

In [1]:
import matplotlib.pyplot as plt

df = pd.read_csv("info.csv") 
dataframe = df.tail()
price = dataframe['Price']
Rating = dataframe['Rating']

plt.figure()

# plt.scatter(price, rating)


# plt.xlabel("Price")
# plt.ylabel("Rating")
# plt.title("Price vs Rating")

# plt.legend()
plt.grid(True)

plt.show()

NameError: name 'pd' is not defined